 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
 :root{
    --main-bg-colour: #2824f0;
 }
*{
    padding: 0;
    margin: 0;

}
header{
    background:var(--main-bg-colour);
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;

}
nav ul li a:hover{
    color:white;
     font-style: bold;
}
.search{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.search input{
    width: 493px;
    height: 23px;
    border-radius: 5px;
    margin: 0 16px 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.slider{
    margin: auto;
    width: 80vw;
    margin: 12px auto;
}
.card{
    max-width: 91vw;
    margin: auto;
}
.cards{
    display:flex

    align-items:center;
}
.card-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0  15px;
}
.card h2{
    font-family: 'Poppins', sans-serif; 
}

.container{
    

    <div style="flex-direction: column;">

    min-height: calc(100vh - 58px - 12vh);
}
footer{
    height: 12vh;
    background-color:var(--main-bg-colour);
    color: white;
    font-family: 'Poppins', sans-serif;
}